@model IEnumerable<CapturedMoments.Models.PhotographerSection>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.photographerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.btnText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.photographerName)
            </td>
            <td>
                    <img src="@item.Image" alt="img" class="img-fluid" style="width:100px;height:100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.btnText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.photographersectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.photographersectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.photographersectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
